.Funciones {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  background: linear-gradient(180deg, #E6F3F5, #8FBC8F);
  color: #4A4A4A !important;
}

.Funciones .title {
  font-size: 3em;
  color: #4A4A4A !important;
  font-weight: 400;
  text-align: center;
}

.Funciones * {
  color: #4A4A4A !important;
}